:root {
  --sans-font-family: "avenir", sans-serif;
  --serif-font-family: "baskerville", serif;
  --font-size: 1.4rem;
  --line-height: 140%;
  --ui-color: rgb(247, 154, 48);
  --light: rgb(250, 249, 240);
  --dark: rgb(20, 20, 20);
  --toned: rgb(102, 99, 186);
  --mid: rgb(213, 222, 241);
  --marked: rgb(255, 241, 202);
  --light-gray: rgb(250, 250, 250);
  --dark-gray: gray;
}

body {
  font-family: var(--sans-font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--dark);
  margin: 0;
  padding: 0;
  box-sizing: content-box;    

}
header {
  width: 100%;
  background: var(--toned);
  font-size: smaller;
  display: flex;
  justify-content: space-around;
}
header a {
  color: var(--light);
  text-decoration: none;
}
form {
  text-align: center;
  display: block;
  padding: 1em 0;
  width: 100%;
  background: var(--mid);
}

input[type="text"] {
  padding: 10px;
  width: 30ch;
  font-size: 1rem;
  border: 0;
}
input[type="submit"] {
  padding: 10px;
  width: 10ch;
  font-size: 1rem;
  background: var(--light);
  border: 0;
}

article.case:empty {
  box-shadow: none;
}
article.case:empty + footer button {
  visibility: hidden;
}

article.case {
  max-width: 80vw;
  margin: 0 10vw;
  padding: 7vh 10vw;
  font-family: var(--serif-font-family);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 10px 0px, rgba(14, 30, 37, 0.2) 0px 2px 8px 0px;
}
.selected {
  background: var(--marked);
}
.citations {
  font-style: italic;
}
mark {
  background: var(--marked);
}
.courtlistener-url {
  display: block;
  font-size: smaller;
  margin: 0 auto 2rem auto;
  text-align: center;
}
button {
  padding: 10px;
  background: var(--ui-color);
  color: var(--light);
  border: none;
  font-size: medium;
}
button.edit {
  margin-right: 1em;
}
button.edit:hover {
  outline: 2px solid var(--ui-color);
}
/* Indicate which result was selected by deemphasizes the ones not clicked on */
.results:has(button.edit:focus) li {
  opacity: 0.5;
}
.results li:has(button.edit:focus) {
  opacity: 1;
}
button.edit:focus {
  filter: brightness(0.85);
}

div.controls {
  position: absolute;
  left: 5%;
  display: flex;
  gap: 10px;
  background: var(--light);
  padding: 10px;

}
button.cancel {
  background: var(--dark-gray);
}

.case-citation {
  font-weight: normal;
  font-size: 1em;
}
.results {
  font-size: smaller;
  width: 80vw;
  margin: 5vh auto;
}
.results li {
  margin-bottom: 0.75em;
}
.case-citation  li.selected {
  list-style-type: none;
  text-align: center;
  margin: 1em 0 0 0;
}
.case-citation li.selected button {
  display: none;
}

.results li + li:last-of-type {
  margin-bottom: 2em;
}
.results li:hover {
  background: lightyellow;
}

button.modal {
  position: absolute;
}
.elision-note {
  background: lightyellow;
  text-align: center;
  padding: 0.5em;
  font-size: smaller;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: var(--light-gray);
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--mid);
}
footer button {
  background: var(--toned);
}
del.elided-content {
  text-decoration: none;
  text-indent: 0;
}
del.elided-content {
  display: none;
}
ins.elide-marker::after {
  content: " ... ";
  background: rgb(255, 241, 202);
  margin: 0 0.5em;
}
ins.elide-marker {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-indent: 0;
}
.hidden {
  visibility: hidden;
}

/* Case content */
.case_cite, .docket, .prelims, .date {
  margin: 0;
  padding: 0;
}
.parties, .center {
  text-align: center;
}
.indent {
  text-indent: 2em;
}
.num .num {
  float: left;
  margin-left: -2em;
}
a.footnote {
  font-size: smaller;
  vertical-align: super;
  padding: 0 .25em;
}

a.footnote:not(:has(del))::before {
  content: "[";
}
a.footnote:not(:has(del))::after {
  content: "]";
}
div.footnotes {
  border-top: 1px solid var(--dark);
  margin: 6rem 0;
}
div.footnote a.footnote {
  float: left;

}